<h1><%= identifier.capitalize %> Stats</h1>
<div id="url_stats">
  <h2>Most Requested Urls</h2>
  <table>
    <tr>
      <th>Url</th>
      <th>Frequency</th>
    </tr>
    <% urls_by_frequency.each_with_index do |url, index| %>
      <tr>
        <td>
          <a id="url_<%= index %>" href="/sources/<%=identifier%>/urls/<%= url[:relative_path]%>"><%= url[:name] %></a>
        </td>
        <td><%= url[:count] %></td>
      </tr>
    <% end %>
  </table>
</div>

<div id="browser_stats">
  <h2>Most Popular Browsers</h2>
  <table>
    <tr>
      <th>Browser</th>
      <th>Frequency</th>
    </tr>
    <% browsers_by_frequency.each_with_index do |browser, index| %>
      <tr>
        <td id="browser_<%= index %>"><%= browser[:browser] %></td>
        <td><%= browser[:count] %></td>
      </tr>
    <% end %>
  </table>
</div>

<div id="os_stats">
  <h2>Most Popular Operating Systems</h2>
  <table>
    <tr>
      <th>Operating System</th>
      <th>Frequency</th>
    </tr>
    <% os_by_frequency.each_with_index do |os, index| %>
      <tr>
        <td id="os_<%= index %>"><%= os[:os] %></td>
        <td><%= os[:count] %></td>
      </tr>
    <% end %>
  </table>
</div>

<div id="resolution_stats">
  <h2>Most Popular Screen Resolutions</h2>
  <table>
    <tr>
      <th>Resolution</th>
      <th>Frequency</th>
    </tr>
    <% resolution_by_frequency.each_with_index do |resolution, index| %>
      <tr>
        <td id="resolution_<%= index %>"><%= resolution[:width] %> x <%= resolution[:height] %></td>
        <td><%= resolution[:count] %></td>
      </tr>
    <% end %>
  </table>
</div>

<div id="response_time_stats">
  <h2>Response Time Stats Per Url</h2>
  <% response_time_by_frequency_per_url.each do |key, value| %>
    <h3><%= key %></h3>
    <table>
      <tr>
        <th>Response Time</th>
        <th>Frequency</th>
      </tr>
      <% value.each_with_index do |data, index| %>
        <tr>
          <td><%= index %>"><%= data[:responded_in] %></td>
          <td><%= data[:count] %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<a id="events" href="/sources/<%= identifier %>/events">Events Information</a>
