<h1>More details for <%= identifier.capitalize %>, Event: <%= specific_event%></h1>
<div id='times_recieved'>
  <h2> Times event has been received: <%=event_count%> </h2>
</div>
<div id="hour_by_hour" >
  <h2> Hour by hour breakdown of when events are recieved </h2>
    <% i = 0 %>
    <% 24.times do %>
      <% hour = '0#{i}' if i <10 ; hour = i.to_s %>
      <p id="hour_<%=i%>"> hour: <%= sorted_request_times['hour'] %></p><br>
      <%i += 1%>
    <%end %>
  </h2>
</div>
