<h1><%= identifier.capitalize %></h1>
<h2>URL Stats</h2>
<div id='url_stats'>
  <p id='long_resp_time'><b>Longest Response Time:</b>  <%= long_response_time %></p>
  <p id='short_resp_time'><b>Shortest Response Time:</b>  <%= short_response_time %></p>
  <p id='avg_resp_time'><b>Average Response Time:</b>  <%= average_response_time %></p>
  <p id='http_verbs'><b>HTTP Verbs Used:</b>  <%= http_verbs %></p>
  <p id='most_pop_refs'><b>Most Popular Referrers:</b>  <%= most_popular_referrers %></p>
  <p id='most_pop_agents'><b>Most Popular User Agents:</b>  <%= most_popular_agents %></p>
</div>
